<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Cross Storage Hub</title>
</head>
<body>
  <script type="text/javascript" src="javascripts/hub.js"></script>
  <script>
    CrossStorageHub.init([
      {origin: /.*/, allow: ['get', 'set', 'del']}
	  //{origin: /\.example.com$/,            allow: ['get']},
	  //{origin: /:\/\/(www\.)?example.com$/, allow: ['get', 'set', 'del']}
    ]);
  </script>
</body>
</html>
